@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<br />
<br />
<br />
<br />
<div class="login-popup-wrap new_login_popup">
    <div class="login-popup-heading text-center">
        <h2><i class="fa fa-lock" aria-hidden="true"></i> Login </h2>
    </div>

    <!--<form accept-charset="utf-8" method="post" action="">-->
    <form id="account" role="form" action="" method="post">


        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            @*<label asp-for="Input.Email"></label>*@
            <input asp-for="Input.Email" class="form-control" placeholder="e-mail address" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            @*<label asp-for="Input.Password"></label>*@
            <input asp-for="Input.Password" class="form-control" placeholder="password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>

        @*<button type="submit" class="btn btn-default login-popup-btn" name="submit" value="1">Login</button>*@
        <div class="form-group text-center">
            <button type="submit" class="btn btn-login">Log in</button>
        </div>

    </form>

    <br />
    <div class="form-group text-center">
        <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
    </div>


    @*<div class="form-group text-center">
        <a class="pwd-forget" href="javascript:void(0)" id="open_forgotPassword">Forget Password</a>
    </div>
    <div class="text-center">Not registered yet?<a href="http://192.168.50.34/abcc/membership-application">click here</a></div>*@
</div>

@*<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>Use another service to log in.</h4>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
