@page
@model RegisterModel
@{
    ViewData["Title"] = "Create an Account";
}

    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Create an Account</h2>
                    <form class="login-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Phone"></label>
                            <input asp-for="Input.Phone"  class="form-control" id="textarea" name="textarea" rows="4" />
                           
                            <span asp-validation-for="Input.Phone" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Address"></label>
                            @*<input asp-for="Input.Address" class="form-control" />*@
                            <textarea asp-for="Input.Address" class="form-control" id="textarea" name="textarea" rows="4"></textarea>
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <br />

                            <button type="submit" class="btn btn-login" >Create New Account</button>                        


                    </form>
                   
                </div>
                <div class="col-md-8 banner-sec">
                    <br />
                    <br />
                    <br />
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel5-item active">
                                <img class="d-block img-fluid" src="~/css/images/register1.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    @*<div class="banner-text">
                    <h2>This is Heaven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>*@
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="~/css/images/register2.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    @*<div class="banner-text">
                    <h2>This is Heaven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>*@
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="~/css/images/register3.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    @*<div class="banner-text">
                    <h2>This is Heaven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>*@
                                </div>
                            </div>

                            <div>
                                <br />
                                <br />
                                <h4> <strong>Terms and Conditions</strong></h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </p>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        <small>I Agree to the Terms and Conditions</small>
                                    </label>
                                   
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<div class="col-md-6 col-md-offset-2">
                <section>

                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>

                                <img src="~/css/images/registerpic.jpg" width="725" height="967" />
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>*@

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
