@model Vet.Net.Models.BookletViewModel;

@{
    ViewData["Title"] = "Profiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<h1 class="homepage-subheading">List of User Profiles</h1>


<a asp-action="Create">
    <button class="btn btn-login">
        Create a New Profile
    </button>
</a>



@*<div align="center">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>*@

<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Address
            </th>
            <th>
                DateAdded
            </th>
            <th>
                DateModified
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Profiles)
        {
            <tr>
                <td>
                    <a href=@(Url.Action("Index","Booklet", new {id =item.Id}))>@item.FirstName @item.LastName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"
                        onclick='return confirm("The record you have selected will be permanently deleted!");'>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div style="line-height:3300%;">
    <br>
</div>
